<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd">


    <!--lab6-->

    <jdbc:embedded-database id="dataSource">
        <jdbc:script location="classpath:db-schema.sql"/>
    </jdbc:embedded-database>

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>-->
        <!--<property name="url" value="jdbc:hsqldb:mem:test"/>-->
        <!--<property name="username" value="sa"/>-->
        <!--<property name="password" value=""/>-->
    <!--</bean>-->

    <bean id="countryDao" class="model.lab6.dao.CountryDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--lab6-->

    <!--lab5-->
    <bean id="bar" class="model.lab5.model.ApuBar"/>

    <bean id="customer" class="model.lab5.model.Customer">
        <property name="name" value="Homer"/>
        <property name="broke" value="false"/>
    </bean>

    <aop:aspectj-autoproxy/>

    <bean id="politeness" class="model.lab5.aop.Politeness"/>
    <!--lab5-->

    <!--lab3-lab4-->
    <bean id="person" class="model.UsualPerson">
        <property name="name" value="John Smith"/>
        <property name="age" value="35"/>
        <property name="height" value="1.78"/>
        <property name="isProgrammer" value="true"/>
        <property name="country" ref="country"/>
        <property name="contacts">
            <list>
                <value>asd@asd.ru</value>
                <value>+7-234-456-67-89</value>
            </list>
        </property>
    </bean>

    <bean id="country" class="model.Country">
        <property name="name" value="Russia"/>
        <property name="codeName" value="RU"/>
    </bean>
    <!--lab3-lab4-->
</beans>
